AUTH_SECRET="" # Added by `npx auth secret`. Read more: https://cli.authjs.dev
HMAC_SECRET_KEY='some-secret' # create this by running `openssl rand -base64 32`
AUTH_URL='' # For testing this should be your NGROK URL and for production this should be your production URL
NEXT_PUBLIC_APP_ID='app_1234567890' # APP ID from the developer portal

RPC_URL=https://worldchain-sepolia.drpc.org
CHAIN_ID=4801
MINTER_PRIVATE_KEY=''
FACTORY_ADDRESS=0x0882CAc0fBe26ACA9fdED8a88A6f6c2043609D6C